body{
	padding-top: 50px; /* added so that the header doesn't overlap the content */
	}
.jumbotron-timeline {
	margin-bottom: 0px;
}
.box {
	border-radius: 5px;
	background-color: aqua;
}
/* --- Flexbox --- */

/* The code for flexbox was from the advice found here https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/, i have ammended this to
fit my website however I wanted to credit them to be on the safe side */

.body-custom {
	display: flex;
	min-height: 100vh;
	flex-flow: column wrap;
}
.content {
	flex: 1;
}

/* --- Footer --- */

footer {
	padding-top: 15px;
	margin-top: 15px;
	min-height: 50px;
	background-color: #1F1F1F;
	color: #FFFFFF;
	font-family: "Bungee", cursive;
	text-align: center;
	}

/* --- CSS text amendments --- */

h1 {
	/*margin-top: 1px;*/
	font-family: 'Bungee', cursive;
	text-align: center;
}
h2, h3 {
	font-family: 'Bungee', cursive;
}
.center-text {
	text-align: center;
}

/* --- <img> amendments ---> */

.homepage-copyright {
	position: absolute;
	text-align: right;
	right: 395px;
	top: 525px;
	color: #FFFFFF;
}

.timeline-credit {
	position: absolute;
	text-align: right;
	right: 395px;
	bottom: 50px;
	color: #FFFFFF;
}
/* --- Navbar Style --- */

.navbar-inverse {
	font-family: 'Bungee', cursive;
}
.navbar-inverse .navbar-brand {
	color: #FFFFFF;
}
.navbar-inverse .navbar-nav>li>a {
	color: #FFFFFF;
}

/* --- acordion styles --> */

.panel-group .panel+.panel {
	margin-top: 0px;
}

/* --- custom media queries --->

/* need to add one for the iPad, screen size is 768 x 1024 */