body{
	padding-top: 75px; /* added so that the header doesn't overlap the content */
	background-color: #EEEEEE;
	background-image: url(../images/space_four.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	}

.jumbotron {
	background-color: #FFFFFF;
	border-radius: 25px;
	margin-top: 25px;
	border: 3px solid grey;
}
.box { /* adds styling around page content to match custom jumbotron styling */
	background-color: #FFFFFF;
	border-radius: 25px;
	margin-top: 25px;
	border: 3px solid grey;
	padding: 0px;
}

/* timeline styling */

.timeline-box {
	padding: 5px;
}

/* --- Flexbox --- */

/* The code for flexbox was from the advice found here https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/, i have ammended this to
fit my website however I wanted to credit them to be on the safe side */

.body-custom {
	display: flex;
	min-height: 100vh;
	flex-flow: column wrap;
}
.content {
	flex: 1;
}
/* .carousel-container {
	padding: 0px;
} */
.container-custom {
	padding: 15px;
}

/* --- Footer --- */

footer {
	padding-top: 15px;
	margin-top: 25px;
	min-height: 50px;
	background-color: #1F1F1F;
	color: #FFFFFF;
	font-family: "Bungee", cursive;
	text-align: center;
	}

/* --- CSS text amendments --- */

h1 {
	margin-top: 1px;
	font-family: 'Bungee', cursive;
	text-align: center;
}
h2, h3, h4 {
	font-family: 'Bungee', cursive;
}
.center-text {
	text-align: center;
}
.justify-text {
	text-align: justify;
}

.img-style {
	border-radius: 25px;
	border: 3px solid orangered;
}
.img-center {
	display: block;
	margin: auto;
}
/* --- Navbar Style --- */

.navbar-inverse {
	font-family: 'Bungee', cursive;
}
.navbar-inverse .navbar-brand {
	color: #FFFFFF;
}
.navbar-inverse .navbar-nav>li>a {
	color: #FFFFFF;
}

/* --- acordion styles --> */

.panel-group .panel+.panel {
	margin-top: 0px;
}

.vis-timeline {
	border: none;
}

/* Contact Form Styling */

/* had to consult the w3schools and MDN pages for this */

input:focus:invalid {
	box-shadow: 5px 10px 10px #888888;
	border: 1px solid red;
}
